RewriteEngine on


Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Content-Type"
Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"

RewriteRule ^/?config\.json$ - [F,L]
RewriteRule ^/?notes.db$ - [F,L]
