notes {
    display: block;
    height: 100%;
}
notes div.nav {
    width: 200px;
}
ul.actions {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border-bottom: 1px solid #ccc;
}
.actions li input, .actions li button {
    width: calc(100% - 10px);
    margin: 5px;
}
.actions li button {
    margin: 0 5px;
}
notes div .nav:last-of-type {
    overflow: auto;
    height: calc(100% - 79px);
}
notes div.nav, .note-content {
    height: 100%;
    float: left;
}
notes .nav .glyphicon {
    font-size: 10px;
}
.nav button {
    width: 100%;
}
notes .nav .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px 0 10px;
}
.nav>li>a {
    cursor: pointer;
    min-height: 40px;
}
.nav>li.active input, .nav>li input {
    color: black;
    position: absolute;
    left: 10px;
    top: 7px;
    width: calc(100% - 40px);
}
.nav>li[role="presentation"]>a:not(.close) {
    padding-right: 30px;
}
.nav>li.active>a.close,
.nav>li.active>a.close:focus,
.nav>li.active>a.close:hover,
.nav>li>a.close,
.nav>li>a.close:focus,
.nav>li>a.close:hover {
    cursor: pointer;
    border: none;
    background: transparent;
}

