<div class="nav">
  <ul class="actions">
    <li>
      <button class="btn btn-primary"
              ng-click="ctrl.newNote(); $event.preventDefault()">New Note</button>
    </li>
    <li>
      <input class="form-control" ng-model="filter" placeholder="filter" />
    </li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" ng-class="{active: ctrl.selected == $index}"
        scroll-to="ctrl.selected == $index || note.newNote" parent="ul.nav"
        ng-repeat="note in ctrl.notes | filter: {name: filter}">
        <a ui-sref="notes.note({id: note.index})">
            <span ng-show="note.unsaved">*</span>
            <span ng-hide="note.edit" ng-dblclick="ctrl.edit($index)">{{note.name}}</span>
        </a>
        <input ng-show="note.edit" ng-model="note.newName"
               autofocus="note.edit"
               ng-keyup="ctrl.input_keyup($event, $index)"/>
        <a class="close" ng-click="ctrl.deleteNote($index); $event.stopPropagation()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
    </li>
</ul>
</div>
<div class="note-content" ui-view></div>
<div class="sections">
  <sections></sections>
</div>
