sections {
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 1px;
    overflow: auto;
    background: white;
    z-index: 2000;
    width: 300px;
}
sections ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 10px;
    max-height: calc(100% - 39px); /* input height + its bottom margin */
    overflow: auto;
}
sections input.form-control {
    margin: 0 5px 5px 5px;
    width: calc(100% - 10px);
}
