body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
input.ng-untouched ~ .error {
    display: none;
}
header {
    text-align: right;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 20px;
}
header li {
    display: inline-block;
    margin: 5px;
    font-size: 14px;
}
[ui-view] {
    height: calc(100% - 33px - 17px); /* header and footer */
}
footer {
    font-size: 12px;
    text-align: center;
}
.right {
    text-align: right;
}
.input-group {
    width: 100%;
    margin-bottom: 10px;
}
form[name="register"], form[name="login"] {
    margin: auto;
}
form[name="register"] {
    max-width: 400px;
}
form[name="login"] {
    max-width: 300px;
}
form[name="register"] label.input-group-addon {
    width: 150px;
}
form[name="login"] label.input-group-addon {
    width: 100px;
}
label.input-group-addon {
    text-align: right;
}
