.note-content {
    width: calc(100% - 200px);
    position: relative;
}
.note-content::before {
    width: calc(80ch - 4px);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: 1px solid #aaa;
    z-index: 1000;
    pointer-events: none;
}
.note-content textarea, .note-content::before {
    font-family: monospace;
}
.note-content div, .note-content textarea {
    height: 100%;
}
.note-content textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
}
.note-content textarea,
.note-content textarea:focus {
    outline: none;
}
